.App {
  align-items: stretch;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  height: 100%;
  justify-content: space-between;
  position: relative;
  text-align: center;
}

.header {
  background-color: white;
  padding: 1rem .5rem;
}

.tap {
  align-items: center;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

.circle {
  align-items: center;
  background-color: black;
  border-radius: 150px;
  color: white;
  display: flex;
  font-size: 6rem;
  height: 300px;
  justify-content: center;
  width: 300px;
}

.circle.active {
  background-color: green;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .25);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.modal {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 80vw;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.5rem;
}

table {
  padding: 1rem;
}
td, th {
  padding: 0.25rem 0;
}
td:first-child,
th:first-child {
  text-align: left;
}
tr:last-child td,
tr:last-child th {
  font-weight: bold;
}

.reset {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: -1px;
}
