html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  user-select: none;
}

.links {
  background-color: black;
  left: 0;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  z-index: 1;
}

a, a:visited, a:link, a:active {
  color: skyblue;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
