@charset "utf-8";
@import 'bulma';
@import '~bulma-slider';

html, body, #root {
  height: 100%;
  width: 100%;
  user-select: none;
}

.slider-scale {
  display: flex;
  justify-content: space-between;
  font-size: .7rem;
  margin-top: -1rem;
}

.time-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lift {
  align-items: center;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

.circle {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  user-select: none;

  border: 10px solid black;
  &.pressed {
    border-color: green;
  }

  &.triggered {
    border-color: red;
  }
}

@media (orientation: portrait) {
  .circle {
    border-radius: 25vw;
    height: 50vw;
    width: 50vw;
  }
}

@media (orientation: landscape) {
  .circle {
    border-radius: 25vh;
    height: 50vh;
    width: 50vh;
  }
}
