.Lift {
  align-items: stretch;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  height: 100%;
  justify-content: space-between;
  position: relative;
  text-align: center;
}

.header {
  background-color: white;
  padding: 4rem .5rem 1rem;
}

.tap {
  align-items: center;
  display: flex;
  flex-grow: 2;
  justify-content: center;
}

.tap.pressed {
  background-color: green;
}
.tap.pressed.triggered {
  background-color: red;
}

.circle {
  align-items: center;
  background-color: black;
  border-radius: 150px;
  color: white;
  display: flex;
  font-size: 6rem;
  height: 300px;
  justify-content: center;
  width: 300px;
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, .25);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal {
  background-color: white;
  border-radius: 0.5rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
}

table {
  padding: 1rem;
}
td, th {
  padding: 0.25rem 0;
}
td:first-child,
th:first-child {
  text-align: left;
}
tr:last-child td,
tr:last-child th {
  font-weight: bold;
}

.reset {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  margin: -1px;
}
